<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guías de cuidado</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
  <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-card>
                <img src="../../../assets/mock3.png" />
                <ion-card-header>
                  <ion-card-title>Prevención en personas mayores</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Las personas mayores son más susceptibles de tener complicaciones e incluso morir por esta nueva enfermedad.
                </ion-card-content>
                <ion-item>
                    <ion-button fill="outline" slot="end">Ver más...</ion-button>
                  </ion-item>
              </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <img src="../../../assets/mock1.png" />
                <ion-card-header>
                  <ion-card-title>Prevenir la introducción</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  ¿Cómo prevenir la introducción del nuevo coronavirus en su establecimiento?
                </ion-card-content>
                <ion-item>
                    <ion-button fill="outline" slot="end">Ver más...</ion-button>
                  </ion-item>
              </ion-card>
        </ion-col>
        <ion-col size="12">
            <ion-card>
                <img src="../../../assets/mock2.png" />
                <ion-card-header>
                  <ion-card-title>Transmisión entre establecimientos</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  ¿Cómo prevenir la transmisión del nuevo coronavirus entre establecimientos?
                </ion-card-content>
                <ion-item>
                    <ion-button fill="outline" slot="end">Ver más...</ion-button>
                  </ion-item>
              </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
