<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Aviso de privacidad</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>guardianCOVID</ion-card-subtitle>
            <ion-card-title><ion-icon name="lock-closed-outline"></ion-icon> Aviso de Privacidad</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <div class="ion-text-justify">
                  <p>El Centro de Investigación Científica y de Educación Superior de Ensenada, Baja California, con 
                    domicilio en carretera Ensenada Tijuana No. 3918, Zona Playitas, Ensenada, Baja California, México, 
                    C.P. 22860, es la responsable del tratamiento de los datos personales que proporcione y se compromete 
                    a protegerlos conforme a lo dispuesto en lo previsto por los Artículos 31 a 42 de la Ley General de 
                    Protección de Datos Personales en Posesión de los Sujetos Obligados, en adelante la “Ley”, la Ley 
                    General de Transparencia y Acceso a la Información Pública, la Ley Federal de Transparencia y Acceso 
                    a la Información Pública y la demás normatividad que resulte aplicable.
                  </p>
                  <br>
                  <ion-text color="primary"><h4>DATOS PERSONALES QUE SE RECABAN Y SU FINALIDAD PRINCIPAL</h4></ion-text>
                  <p>
                      Sus datos personales serán utilizados solo con la finalidad de concentrar el estado de salud del 
                      trabajador o el usuario, a efecto de poder tomar las medidas necesarias para controlar y limitar 
                      la propagación del virus COVID-19 en el centro de trabajo, por lo que resulta necesario utilizar 
                      la app denomina: “guardianCOVID “). 
                  </p>
                  <p>Para la información antes señalada, se recaban los siguientes datos personales: </p>
                  <p> <ion-text color="dark">Nombre, edad, sexo, correo electrónico.</ion-text> <br>
                    <ion-text color="dark">Datos sensibles: Estado de salud actual, sintomatología derivada del virus SARS-CoV-2 (covid-19) 
                      y signos vitales. Datos contenidos en el uso de app e indicaciones médicas.</ion-text></p>
                  <p>
                      Se informa que no es necesario recabar su consentimiento para el tratamiento de sus datos personales, 
                      en términos de los artículos 7 y 22 fracciones I, VI y VII de la Ley General de Protección de Datos 
                      Personales en Posesión de Sujetos Obligados.
                  </p>
                  <br>
                  <ion-text color="primary"><h4>TRANSFERENCIAS DE DATOS PERSONALES</h4></ion-text>
                  <p>
                      No se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender 
                      requerimientos debidamente fundados y motivados, provenientes de una autoridad competente. Al respecto, 
                      se hace de su conocimiento que no será requerido su consentimiento para realizar las mismas, conforme a 
                      lo dispuesto en el artículo 70 fracciones I y V de la Ley General de Protección de Datos Personales en 
                      Posesión de Sujetos Obligados;
                  </p>
                  <p>Artículo 70. El responsable podrá realizar transferencias de datos personales sin necesidad de requerir el
                     consentimiento del titular, en los siguientes supuestos:</p>
                  <p>I. Cuando la transferencia esté prevista en esta Ley u otras leyes, convenios o Tratados Internacionales
                     suscritos y ratificados por México; <br>
                     V. Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia 
                     sanitaria, tratamiento médico o la gestión de servicios sanitarios, siempre y cuando dichos fines sean acreditados;
                  </p>
                  <br>
                  <ion-text color="primary"><h4>DERECHOS ARCO</h4></ion-text>
                  <p>El trabajador y/o usuario, podrá ejercer sus derechos de acceso, rectificación, cancelación u oposición de sus 
                    datos personales (derechos ARCO, en lo sucesivo) directamente ante la Unidad de Transparencia y Acceso a la 
                    Información Pública de Centro de Investigación Científica y de Educación Superior de Ensenada, Baja California, 
                    con domicilio en carretera Ensenada Tijuana No. 3918, Zona Playitas, Ensenada, Baja California, México, C.P. 22860.y/o, 
                    enviar un correo electrónico a la dirección de correo electrónico uenlace@cicese.mx. </p>
                  <br>
                  <ion-text color="primary"><h4>MECANISMOS DE PROTECCION DE DATOS PERSONALES</h4></ion-text>
                  <p>
                    El Centro de Investigación Científica y de Educación Superior de Ensenada, Baja California, emplea procedimientos 
                    físicos y electrónicos para prevenir el acceso no autorizado, y garantizar el uso correcto de su información personal.
                  </p>
                  <br>
                  <ion-text color="primary"><h4>CAMBIOS AL AVISO DE PRIVACIDAD</h4></ion-text>
                  <p>
                      Se hace de su conocimiento que, en caso de que exista un cambio a este Aviso de Privacidad, el Responsable del 
                      tratamiento de datos personales de esta entidad lo comunicará a sus Titulares, a través de correo electrónico, 
                      vía telefónica o a través del Portal electrónico del CICESE. 
                  </p>
                </div>
                <ion-radio-group>
                  <ion-item>
                    <ion-label class="ion-text-wrap">Acepto compartir plenamente mis datos.</ion-label>
                    <ion-radio slot="start" color="success" value="apple"></ion-radio>
                  </ion-item>
        
                  <ion-item>
                    <ion-label class="ion-text-wrap">Acepto compartir mis datos y que estos sean eliminados cada 14 días.</ion-label>
                    <ion-radio slot="start" color="tertiary" value="grape"></ion-radio>
                  </ion-item>
        
                  <ion-item>
                    <ion-label class="ion-text-wrap">No acepto los términos y condiciones.</ion-label>
                    <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
                  </ion-item>
                </ion-radio-group>
                <ion-button expand="block"  class="ion-no-margin"><ion-icon slot="start"  name="save"></ion-icon> Guardar</ion-button>
          </ion-card-content>
        </ion-card>
  </div>

</ion-content>
