<ion-card>
    <ion-card-header>
    <ion-card-title>Cóodigo de colores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Los códigos de colores reflejan: 
        <ul> 
          <li> 
            <ion-text color="warning">Amarillo: </ion-text>  si tiene Fiebre (temperatura > 37.5).
          </li>
          <li><span style="color:#f07c00" >Naranja (sospecha de Covid):</span> Al menos 2 de los síntomas principales (tos, fiebre, dolor de cabeza)
             y uno de los otros. 
          </li>
          <li><ion-text color="danger">Rojo:</ion-text> Al menos 6 síntomas (incluyendo 2 de los principales).</li>
          <li><ion-text color="success">Verde:</ion-text> Cuando no se dan ninguna de las condiciones anteriores.</li>
        </ul>
    </ion-card-content>
  </ion-card>
